@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/weather-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

.title{
    color: aliceblue;
    margin-bottom: 30px;
    text-shadow:5px 5px 15px rgba(0, 0, 0, 0.9);
}

#searchResult .title{
    margin-bottom: 0;
    margin-top: 30px;
}

.text{
    text-shadow:5px 5px 15px rgba(0, 0, 0, 0.9);
}

.cityName{
    font-size: 20px;
}

.searchCity{
    font-size: 24px;
    font-weight: 600;
}

.functionBar{
    margin-bottom: 40px;
}

.myBox{
    padding:16px 20px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    background: rgba(27, 25, 25, 0.2);
    border-radius: 18px;
    color:aliceblue;
}

.searchBox{
    border-radius: 18px;
}

.mybtn{
    background-color: rgba(84, 177, 253, 0.6);
    color: aliceblue;
}

.mybtn:hover{
    background-color: rgba(10, 143, 252, 0.6);
    color: aliceblue;  
}




.recentBox{
    overflow: auto;
    height: 260px;
}

.recentBox::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

.recentBox::-webkit-scrollbar-track{
    background-color: transparent;
}

.recentBox::-webkit-scrollbar-thumb{
	background:linear-gradient(to top,#2980B9,#6DD5FA,#FFFFFF,transparent);
	border-radius: 2rem;
}

.myCard{
    display: grid;
    grid-template-rows: 140px 240px;
    grid-template-areas: 'img' 'text';
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(14px);
    background: rgba(27, 25, 25, 0.2);
}

.c-text{
    grid-area: text;
    margin:25px;
    color: aliceblue;
    text-shadow:5px 5px 15px rgba(0, 0, 0, 0.9);
    font-size: 20px;
}

.c-img{
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp{
    text-align: start;
    text-indent: 1.5rem;
}

.wind{
    text-align: start;
    text-indent: 1.5rem;
}

.humid{
    text-align: start;
    text-indent: 1.5rem;
}

.swiper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 100%;
}

.cityBtn{
    width: 100%;
    background-color:rgb(145, 204, 252);
    color:rgb(31, 31, 31);
    margin-bottom: 8px;
}

.cityBtn:hover{
    background-color:rgb(84, 177, 253);
    color:aliceblue;
}

.defaultBtn{
    width: 100%;
    margin-bottom: 8px;
}



